*{
    margin: 0;
    padding: 0;
    background-color: #F4F2DC;
    font-family: calibri;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.barra {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color:#2F9F00;
    font-size: 20px;
}

.link:hover {
    color: #205908;
}

#barra_navegacion {
    color: #2F9F00;
    border: solid 1px;
    width: 100%;
}

header{
    background-color: #2F9F00;
    color: white;
    padding: 7px 70px 7px 70px;
}

#contenedor_header{
    display: flex;
    justify-content: space-between;
    background-color: #2F9F00;
}

#contenedor_header .logo_header{
    display: flex;
    align-items: center;
    background-color: #2F9F00;
}

#contenedor_header .logo_header img{
    width: 90px;
    height: 90px;
}

#linea_Vertical{
    border-left: 2px solid white; 
    height: 50px ;
    margin-right: 15px;
}

#contenedor_header .logo_header h1{
    font-size: 26px;
    background-color: #2F9F00;
}

#contenedor_header .logo_header h2{
    font-size: 17px;
    background-color: #2F9F00;
}

#contenedor_header .links_header {
    display: flex;
    align-items: center;
    background-color: #2F9F00;
}

#contenedor_header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-right: 40px;
    background-color: #2F9F00;
}


#Contenedor_compra{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

#Contenedor_compra h1{
    font-size: 50px;
    color: #2F9F00;
    margin-bottom: 30px;
}

#Contenedor_compra p{
    font-size: 25px;
    background-color: #2F9F00;
    border-radius: 50px;
    padding: 5px 10px;
    color: white;
    margin-bottom: 10px;
}

#Contenedor_compra p2{
    font-size: 20px;
    margin-top: 10px;
}




footer{
    height: 220px ;
    background-color: #2F9F00;
    position: relative;
    top: 50px; 
    margin-top: 80px;
}

#contenedor_informacion{
    display: flex;
    justify-content: space-around;
    background-color: #2F9F00;
    padding-top: 50px;
}

#contenedor_informacion img{
    width: 50px;
    height: 50px;
}

#sobre_nosotros{
    background-color: #2F9F00;
    align-items: center;
    text-align: center;
    width: 300px;

}

#sobre_nosotros h3{
    background-color: #2F9F00;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}

#sobre_nosotros p{
    background-color: #2F9F00;
    font-size: 10px;
    color: white;
}

#email{
    background-color: #2F9F00;
    align-items: center;
    text-align: center;
    width: 300px;
}

#email h3{
    background-color: #2F9F00;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}

#email p{
    background-color: #2F9F00;
    font-size: 10px;
    color: white;
}

#contacto{
    background-color: #2F9F00;
    align-items: center;
    text-align: center;
    width: 300px;
}

#contacto h3{
    background-color: #2F9F00;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}

#contacto p{
    background-color: #2F9F00;
    font-size: 10px;
    color: white;
    margin-bottom: 10px;
}

/* main {
    background-color: beige;
    width: 1594px;
    margin: 0px auto;
}
.clear {
    clear: both;
}

header {
    color: #388f16;
    font-family: Arial, Helvetica, sans-serif;
}

.men {
    padding-left: 10%;
    padding-top: 5%;
}

h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

.login {
    padding: 0px 0px 0px 0px;
    border-radius: 50%;
}

.d {
    font-size: 140%;
    padding: 0px 0px 0px 355px;
    color: #388f16;
}

.m {
    font-size: 140%;
    margin: 0px 600px 0px 0px;
    padding: 0px 275px 0px 0px;

}

.login a {
    text-decoration: none;
    background: rgb(16, 120, 54);
    color: beige;
    border-radius: 100px;
    padding: 12px;
}

.nombre a {
    text-decoration: none;
    background: rgb(16, 120, 54);
    color: beige;
    border-radius: 100px;
    padding: 10px;
}

.lupa {
    padding: 0px 0px 0px 20px;
}

.lupa a {
    text-decoration: none;
    background: rgb(16, 120, 54);
    color: beige;
    border-radius: 100px;
    padding: 12px;
}

.co {
    padding: auto;
}

.co a {
    text-decoration: none;
    background: rgb(16, 120, 54);
    color: beige;
    border-radius: 100px;
    padding: 12px;
}

.salir a {
    text-decoration: none;
    background: rgb(16, 120, 54);
    color: beige;
    border-radius: 100px;
    padding: 12px;
}

.car a {
    text-decoration: none;
    background: rgb(16, 120, 54);
    color: beige;
    border-radius: 100px;
    padding: 12px;
}

hr {
    border: #388f16 solid 1px;
}

.tabla2 td {
    padding: 0px 100px 0px 100px;
}

.tabla2 td a {
    text-decoration: none;
    color: #388f16;
}

.tabla2 td a:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px #388f16;
}*/

/*FIN HEADER*/
/*
.comprar {
    border: #388f16 solid 5px;
    background-color: #00000063;
    color: aliceblue;
    border-radius: 30px;
    width: 861px;
    height: 500px;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    margin-left: 23%;
}

.comprar h1 {
    margin-top: 15%;
    font-size: 40px;
    text-align: center;
}

.comprar button {
    border: none;
    border-radius: 15px;
    background-color: #388f16;
    padding: 15px 25px 15px 25px;
    margin-left: 152px;

}

.comprar button a {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
}

.navidad{
    float: right;
    margin-right: -50px;
}

h2 {
    margin-top: 43px;
    margin-left: 107px;
}
html {
    margin: -8px 0px 0px 0px;
}

.d a {
    text-decoration: none;
    color:#388f16;
}

.m a {
    text-decoration: none;
    color:#388f16;
}

.foto1 {
    width: 90px;
}

.redes{
    margin-top: 25px;
    text-align: center;
}

.redes a{
    margin: 50px 10px 20px 10px;
} */